<section class="TodoPage-section">

  <article class="TodoPage-article">
    <h2 class="TodoArticle-title"><%= section_title %></h2>
    <p class="remainingTodoCount"><%= todos.completed.count %> / <%= todos.count %> </p>
  </article>

  <ul class="TodoList">
    <% todos.each do |todo| %>
      <li class="TodoItem">
        <label class="TodoListLabel">
          <%= form_with(url: "todos/#{todo.id}", method: "PUT") do %>
            <%= check_box_tag('todo-checkbox', nil, todo.completed ? true : false, class: 'TodoCheckbox', name: "completed", onclick: "this.form.submit()") do %>
            <% end%>
          <% end %>
          <p class="TodoItem-text <%= todo.completed ? "Cross-todo": "" %>"> <%= todo.todo_text %> </p>
          <% if show_due_date %>
            <p class="remainingTodoDate"> <%= todo.due_date.to_s(:short) %> </p>
          <%end%>
          <a href="javascript:void(0)">
            <%= form_with(url: "todos/#{todo.id}", method:"delete") do %>
            <%= image_submit_tag("delete.png", class: "delete-icon", alt: "Delete") do %>
            <%end%>
            <% end %>
          </a>
        </label>
      </li>
    <% end %>
  </ul>

</section>
