  <main class="TodoPage-main">
    <h1 class="TodoPage-title">My Todo-List</h1>
    <article>

      <%= form_with(url: "/todos", method: "post", class: "TodoPage-section TodoPage-input") do %>
        <%= text_field_tag("add-todo", nil, class: "TodoInput", placeholder: "What's next?", name: "todo_text") do %>
        <%end%>
        <%= date_field_tag("due-date", nil, class: "TodoInput", name: "due_date") do %>
        <%end%>
        <%= button_tag("Add", type: "submit", class: "TodoAddBtn") do %>
          Add
        <%end%>

      <%end%>
      <%= render partial: "todo-section", locals: {
        section_title: "Overdue",
        todos: Todo.overdue,
        show_due_date: true,
        show_completed_todos: false
      } %>
      <%= render partial: "todo-section", locals: {
        section_title: "Due Today",
        todos: Todo.due_today,
        show_due_date: false,
        show_completed_todos: true
      } %>
      <%= render partial: "todo-section", locals: {
        section_title: "Due Later",
        todos: Todo.due_later,
        show_due_date: true,
        show_completed_todos: true
      } %>

    </article>
  </main>
